
@{
    ViewBag.Title = "ChangePassword";
    Layout = "~/Views/Shared/_TrainerLayout.cshtml";
}

<div class="main-content ">
    <div class="section">
        <h1 class="section-header">
            <div><i class="fa fa-lock"></i>&nbsp;Change Password</div>
        </h1>
        <div class="row">


            <div class="col-md-4">

            </div>
            <div class="col-md-4">
                <div class="card card-primary">
                    <div class="card-header"><h4>Change Password</h4></div>

                    <div class="card-body">

                        <div class="row">

                            <div class="form-group col-12">
                                <label for="oldpwd" style="color:black">Old Password</label>
                                <input id="txtoldpwd" type="password" class="form-control" name="oldpwd">
                            </div>
                            <div class="form-group col-12">
                                <label for="newpwd" style="color:black">New Password</label>
                                <input id="txtnewpwd" type="password" class="form-control" name="newpwd">
                            </div>
                            <div class="form-group col-12">
                                <label for="confirmpwd" style="color:black">Confirm Password</label>
                                <input id="txtcnfpwd" type="password" class="form-control" name="confirmpwd">
                            </div>
                        </div>





                        <div class="form-group">
                            <button type="button" onclick="ChangePassword()" class="btn btn-primary btn-block">
                                Change Password
                            </button>
                        </div>

                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
<input type="hidden" value="@Session["userid"]" id="hdfcurrentuserid" />
<script type="text/javascript">
    const ChangePassword = () => {

        let alrtmsg = "";
        let oldpwd = $("#txtoldpwd").val();
        let newpwd = $("#txtnewpwd").val();
        let cnfpwd = $("#txtcnfpwd").val();
        let userid = $("#hdfcurrentuserid").val();

        if (oldpwd.trim() == "") {
            alrtmsg += "Enter the old password" + "<br/>";
            $("#txtoldpwd").css("border", "1px solid red");
        }
        if (newpwd.trim() == "") {
            alrtmsg += "Enter the new password" + "<br/>";
            $("#txtnewpwd").css("border", "1px solid red");
        }
        if (cnfpwd.trim() == "") {
            alrtmsg += "Enter the confirm password" + "<br/>";
            $("#txtcnfpwd").css("border", "1px solid red");
        }
        if (newpwd.length < 10) {
            toastr.warning('Password should be of minimun 10 Characters');
            $("#txtnewpwd").css("border", "1px solid red");
        }
        else {

            if (cnfpwd != newpwd) {
                alrtmsg += "New Password and confirm password should be same" + "<br/>";
                $("#txtnewpwd").css("border", "1px solid red");
                $("#txtcnfpwd").css("border", "1px solid red");
            }


            if (alrtmsg != "") {
                toastr.warning(alrtmsg);
            }
            else {

                var param = {
                    "newpassword": newpwd,
                    "oldpassword": oldpwd,
                    "userid": userid

                };
                $("body").addClass("loading");
                $.ajax({
                    cache: false,
                    type: "POST",
                    dataType: "json",
                    url: "/Employee/Profile/ChangePassword",
                    data: { param: JSON.stringify(param) },
                    success: function (result) {

                        if (result == 1) {
                            toastr.success('Password Changed Successfully.');

                            Reset();
                        }
                        else if (result == 2) {
                            toastr.warning('Your Old Password is wrong');

                            $("#txtoldpwd").css("border", "1px solid red");
                        }

                        else {
                            toastr.error('Something Went Wrong.');

                            Reset();
                        }
                        $("body").removeClass("loading");
                    },
                    error: function (errormessage) {
                        $("body").removeClass("loading");
                    }
                });
            }
        }
    }

    function Reset() {
        $("body").addClass("loading");

        $("#txtoldpwd").val("");
        $("#txtnewpwd").val("");
        $("#txtcnfpwd").val("");

        $("#txtoldpwd").css("border", "1px solid #EDEDED");
        $("#txtnewpwd").css("border", "1px solid #EDEDED");
        $("#txtcnfpwd").css("border", "1px solid #EDEDED");


    }
</script>



